:root {
  --height: calc(222px / 12);
  --offset: 19px; /*For some reason this is not the same as height*/
}

.event-date {
  font: 16px/1 Verdana;
  display: inline-flex;
  overflow: hidden;
  height: var(--height);
  position: absolute;
  left: var(--container-padding);
  top: 20px;
  /* text-shadow: 0 1px rgba(44, 44, 44, 0.2); */

  &::before {
    counter-reset: year var(--event-year);
    font-weight: bold;
    color: #aaa;
    content: counter(year) ",";
    transform: translateY(-2px); /*align with month text */
  }

  .months {
    fill: #efefef;
    white-space: pre;
    width: 100px;
    transform: translateY(calc(var(--offset) * (var(--event-month) - 1) * -1));
    padding-left: 0.5ch;
  }
}
